@font-face {
  font-family: 'Circular';
  src: url('./fonts/LLCircularFamilyTT/CircularTT-Medium.ttf'), local('Circular'), local('Circular')
}

body {
  margin: 0;
  font-family: 'Circular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFDFA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
}

.swal-modal {
  background: #FFFBFA;
}

.swal-icon--info:after, 
.swal-icon--info:before {
  background-color: #6CBAB6;
}

.swal-icon--info {
  border-color: #6CBAB6;
}

.swal-title {
  color: #0765D3;
}

.swal-text {
  font-family: 'Circular', sans-serif;
  color: #6CBAB6;
}

.swal-button.swal-button--confirm {
  background: #FF69C6;
}
