@font-face {
  font-family: 'Circular';
  src: url('./fonts/LLCircularFamilyTT/CircularTT-Medium.ttf'), local('Circular'), local('Circular')
}

body {
  margin: 0;
  font-family: 'Circular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFDFA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
}
